<template>
    <div class="page">
        <div id="main">
            <center>
                <div id="connexion">
                    <h1>Connexion</h1>
                    <input type="text" v-model="email" placeholder="Email">
                    <br>
                    <input type="password" v-model="password" v-on:keyup.enter="seConnecter" placeholder="Mot de passe">
                    <br>
                    <br>
                    <button class="btnCo" @click="seConnecter()">Se connecter</button>
                </div>
                <br>
                <br>
                <div id="creationCompte">
                    Pas de compte ?
                    <router-link to="/CreerCompte">Se créer un compte</router-link>
                </div>
            </center>
        </div>
    </div>
</template>

<script>
    module.exports = {
        name: 'Connexion',
        data: function () {
            return {
                email : '',
                password : ''
            }
        },
        mounted() {
            console.log('Appli en route')
            window.axios.get('ping').then((response) => {
                console.log(response)
            }).catch((error) => {
                alert(error)
            })
            if(this.$store.state.connected !== false) {
                this.$router.push('/Discussions')
            }
        },
        methods : {
            seConnecter() {
                window.axios.post('members/signin', {
                    email: this.email,
                    password: this.password,
                }).then((response) => {
                        this.$store.commit('setToken', response.data.token);
                        window.axios.defaults.params.token = response.data.token;
                        this.$store.commit('setMembre', response.data);
                        this.$store.commit('setStatus', true);
                        this.$router.push('/Discussions');
                    })
                    .catch((error) => {
                        alert("Le compte n'existe pas ou l'identifiant et/ou le mot de passe sont mal renseignés")
                    })
            }
        }
    }
</script>

<style scoped>
    body {
        background-color: #1e1e1e;
    }

    #main {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 350px;
        background-color: #f0f0f0;
        border-radius: 8%;
        padding-top: 0.2%;
        padding-bottom: 1.5%;
    }
</style>