<template>
    <div id="main">
        <div id="creationCompte">
            <h1>Créer un nouveau compte</h1>
            <label class="lab">Nom : </label><input type="text" v-model="fullname">
            <br>
            <label class="lab">Email : </label><input type="text" v-model="email">
            <br>
            <label class="lab">Mot de passe : </label><input type="password" v-model="password">
            <br>
            <label class="lab">Vérification du mot de passe : </label><input type="password" v-model="verifPassword" v-on:keyup.enter="creerCompte">
            <br>
            <br>
            <button @click="creerCompte">Se créer un compte</button>
        </div>
        <br>
        <div id="retour">
            <router-link to="/">Retour</router-link>
        </div>
    </div>
</template>

<script>
    module.exports = {
        name: 'CreerCompte',
        data: function () {
            return {
                fullname: '',
                email : '',
                password : '',
                verifPassword: '',
            }
        },
        mounted() {

        },
        methods : {
            creerCompte() {
                if(this.password === this.verifPassword) {
                    window.axios.post('members', {
                        fullname: this.fullname,
                        email: this.email,
                        password: this.password
                    })
                        .then(() => {
                            alert('Votre compte a été créé')
                            window.axios.post('members/signin', {
                                email: this.email,
                                password: this.password
                            }).then(() => {
                                this.$router.push('/')
                            })
                        })
                }
                else {
                    alert('Les mots de passe ne correspondent pas')
                }
            }
        }
    }
</script>

<style scoped>
    #main {
        margin-top: 50px;
    }
</style>