<template>
    <div id="main">
        <h1>Nouvelle discussion</h1>
        <br>
        <label class="lab">Titre : </label>
        <input type="text" v-model="label">
        <br>
        <label class="lab">Description : </label>
        <input type="text" v-model="topic">
        <br>
        <button @click="newChannel">Créer la discussion</button>&nbsp;<router-link to="/Discussions">Annuler</router-link>
    </div>
</template>

<script>
    export default {
        name: "CreerDiscussion",
        data() {
            return {
                label : '',
                topic : '',
            }
        },
        methods : {
            newChannel() {
                axios.post('channels', {
                    label: this.label,
                    topic: this.topic
                }).then(() => {
                    this.$router.push('/discussions');
                })
            }
        }
    }
</script>

<style scoped>

</style>