<template>
    <div id="main">
        <h1>{{ label }}</h1><h3>{{ topic }}</h3>
        <br>
        <template v-for="post in posts">
            <div>{{ post.message }}</div>
        </template>
        <label>Nouveau message : </label>
        <input type="text" v-model="nouvMess" v-on:keyup.enter="ajoutMess">
        <button @click="ajoutMess">Ajouter un message</button><br>
        <div><router-link to="/Discussions">Retour</router-link></div>
    </div>
</template>

<script>
    export default {
        name: "Discussion",
        data() {
            return {
                channel_id: '',
                label: '',
                topic: '',
                nouvMess: '',
                posts: []
            }
        },
        mounted() {
            axios.get('channels/' + this.$route.params.id)
                .then((response) => {
                    this.label = response.data.label;
                    this.topic = response.data.topic;
                    this.channel_id = response.data._id;
                })
            setInterval(this.chargerMessages(this.$route.params.id), 50)
        },
        methods: {
            chargerMessages(id) {
                axios.get('channels/'+id+'/posts')
                    .then((response) => {
                        this.posts = response.data
                    })
            },
            ajoutMess() {
                axios.post('channels/'+this.channel_id+'/posts', {
                    message: this.nouvMess
                }).then((response) => {
                    this.chargerMessages(response.data.channel_id)
                    console.log(response.data)
                    this.nouvMess = ''
                })
            }
        }
    }
</script>

<style scoped>

</style>