<template>
    <div id="main">
        <h1>Discussions</h1>
        <div>Il y a {{ nbDisc }} discussion(s).</div>
        <router-link to="CreerDiscussion">Créer une nouvelle discussion</router-link>
        <br>
        <template v-for="Discussion in Discussions">
            <div>
                <span>{{ Discussion.label }} : {{ Discussion.topic }}</span>
                <span><router-link :to="{ name: 'Discussion', params: {id: Discussion._id} }">    Accès</router-link></span>
            </div>
        </template>
        <br>
        <div><router-link to="/Membres">Liste des membres</router-link></div>
        <br>
        <div><button @click="disconnect">Se déconnecter</button></div>
    </div>
</template>

<script>
    export default {
        name: "Discussions",
        data() {
            return {
                nbDisc: 0,
                Discussions : [],
            }
        },
        mounted() {
            axios.get('channels').then((response) => {
                this.Discussions = response.data
                this.nbDisc = response.data.length
            })
        },
        methods: {
            disconnect() {
                axios.delete('members/signout').finally(() => {
                    this.$store.commit('setToken', false)
                    this.$store.commit('setMembre', {_id: false, email: false, fullname: false})
                    this.$store.commit('setStatus', false)
                    this.$router.push('/')
                })
            }
        }
    }
</script>

<style scoped>

</style>