<template>
    <div id="main">
        <template v-for="Membre in Membres">
            <div><router-link :to="{ name: 'Membre', params: {id: Membre._id, email: Membre.email, fullname: Membre.fullname} }">{{ Membre.fullname }}</router-link>&nbsp;&nbsp;<button v-if="supprActive(Membre._id)" @click="supprMembre(Membre._id)">Supprimer membre</button></div>
        </template>
        <br><br>
        <div><router-link to="/Discussions">Retour</router-link></div>
    </div>
</template>

<script>
    export default {
        name: "Membres",
        data() {
            return {
                Membres: []
            }
        },
        mounted() {
            this.chargerMembres()
        },
        methods: {
            supprActive(idMembre) {
                return idMembre !== this.$store.state.id
            },

            supprMembre(idMembre) {
                axios.delete('members/'+idMembre)
                    .then(() => {
                        this.chargerMembres()
                    })
            },

            chargerMembres() {
                axios.get('members')
                    .then((response) => {
                        this.Membres = response.data
                    })
            }
        }
    }
</script>

<style scoped>

</style>