<template>
    <div id="main">
        {{ fullname }}  {{ email }} <br><br><br>
        Les messages de {{ fullname }} : <br><br>
        <template v-for="message in sortedMessages">
            <div>{{ message.message }} (<router-link :to="{ name: 'Discussion', params: { id: message.idDiscu } }">{{ message.discussion }}</router-link>) écrit le {{ message.date }} à {{ message.heure }}</div>
        </template>
        <br>
        <div><router-link to="/Membres">Retour</router-link></div>
    </div>
</template>

<script>
    export default {
        name: "Membre",
        data() {
            return {
                fullname: '',
                email: '',
                id: '',
                messages: [],
            }
        },
        mounted() {
            this.fullname = this.$route.params.fullname
            this.email = this.$route.params.email
            this.id = this.$route.params.id
            axios.get('channels')
                .then((response) => {
                    let discussions = response.data
                        discussions.forEach((discussion) => {
                        axios.get('channels/'+discussion._id+'/posts')
                            .then((response) => {
                                let messages = response.data
                                if(messages){
                                    messages.forEach((message) => {
                                        if(message.member_id === this.id) {
                                            let leMessage = []
                                            let moment = require('moment')
                                            let date = moment(message.created_at).format('L')
                                            let heure = moment(message.created_at).format('LT')
                                            leMessage.message = message.message
                                            leMessage.date = date
                                            leMessage.heure = heure
                                            leMessage.discussion = discussion.label
                                            leMessage.idDiscu = discussion._id
                                            this.messages.push(leMessage)
                                        }
                                    })
                                }
                            })
                        })
                })
        },
        computed: {
            sortedMessages() {
                function compare(a, b) {
                    if (a.created_at > b.created_at)
                        return -1;
                    if (a.created_at < b.created_at)
                        return 1;
                    return 0;
                }

                return this.messages.sort(compare);
            }
        }
    }
</script>

<style scoped>

</style>